* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .contenedor {
  border: 2px solid black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.box-one,
.box-two,
.box-three,
.box-four,
.box-five,
.box-six,
.box-seven,
.box-eigth,
.box-nine {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  gap: 2rem;
  padding: 2rem;
}

.box-one {
  background-color: aliceblue;
}

.box-two {
  background-color: aquamarine;
}

.box-three {
  background-color: bisque;
}

.box-four {
  background-color: antiquewhite;
}
.box-five {
  background-color: antiquewhite;
}

.box-six {
  background-color: antiquewhite;
}

.box-seven {
  background-color: antiquewhite;
}

.box-eigth {
  background-color: antiquewhite;
}
.box-nine {
  background-color: antiquewhite;
}
 */

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

.headerSection {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section:nth-child(1) {
  background-color: aquamarine;
}
.section:nth-child(2) {
  background-color: rgb(34, 35, 139);
}
.section:nth-child(3) {
  background-color: rgb(5, 29, 21);
}
.section:nth-child(4) {
  background-color: rgb(226, 24, 24);
}

.section-one > h2 {
  color: white;
  font-size: 4rem;
}

.footerClass {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blueviolet;
}

/* Todos estos estilos son para acomodar los elmentos y aplicar las animaciones */
